<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Redirect all requests to the /public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>

# Disable directory listing
Options -Indexes

# Disable access to sensitive files
<FilesMatch "\.(env|yml|twig|git|md)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
